.normal_fm {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.bold_fm {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.light_fm {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.italic_fm {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}